@page
@model Stutooroo.Pages.AdminPages.AdminInterfaceModel
@{
}

<a asp-page="./ExperienceLvls/Index">Experience Levels</a>
<br />
<a asp-page="./SubjectGroups/Index">Subject Groups</a>
<br />
<a asp-page="/Listings/Index">Listings</a>
<br />
<a asp-page="./Comments/Index">Comments</a>
<br />
<a asp-page="./Users/Index">Users</a>

