@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="/Listings/Index">Check out @Model.ListingCount Listings.</a></p>
</div>
